set default=0

loadfont $prefix/unicode.pf2
set gfxmode=auto
insmod all_video
insmod gfxterm
insmod png

set color_normal=light-gray/black
set color_highlight=yellow/black

if [ -e /isolinux/splash.png ]; then
    set theme=/boot/grub/live-theme/theme.txt
elif [ -e /boot/grub/splash.png ]; then
    set theme=/boot/grub/live-theme/theme.txt
else
set menu_color_normal=cyan/blue
set menu_color_highlight=gray/blue
fi

terminal_output gfxterm

insmod play
play 960 440 1 0 4 440 1

menuentry "Install system" {
    linux KERNEL_LIVE APPEND_LIVE
    initrd INITRD_LIVE
}

menuentry "HDT" {
    linux /boot/hdt.c32
}

menuentry "Memory test (memtest86+)" {
    linux /boot/memtest86+.bin
}

submenu 'Advanced options...' {
    menuentry "Install system in Bangla" {
        linux KERNEL_LIVE APPEND_LIVE locales=bn_BD.UTF-8
        initrd INITRD_LIVE
    }
    
    LINUX_INSTALL
    
    menuentry "Expert install (text mode)" {
        linux KERNEL_DI APPEND_DI priority=low 
        initrd INITRD_DI
    }
    
    LINUX_ADVANCED_INSTALL
}